  <% if params[:errors].present? %>
  <ul class="errors" style="padding-top: 1px">
    <% params[:errors].each do |e| %>
      <div class="alert alert-success"><%= e %></div>
    <% end %>
  </ul>
<% end %>
