<div class="container">
  <div class="page-header mt-5" id="banner">
    <div class="row">
      <%= render 'shared/error_messages' %>
      <div class="col-lg-8 col-md-7 col-sm-6 mx-auto">
        <h1>利用規約</h1>
        <p>スカイプちゃんねるだよｗ（以下当サイト）は、SNSで気の合う友達を探すことをサポートするサービスです。
          当サイトにを利用する上で、本利用規約に同意したものとみなします。</p>
        <h3>禁止行為</h3>
        <p>当サイトでは、以下の書き込みを禁じております。<br>
          また、以下の中で犯罪行為となりうるものについてはIPアドレスや端末情報を警察などに提出することを予めご了承ください</p>
        <ul>
          <li>性的な表現がされている</li>
          <li>出会いや異性交際を希望している</li>
          <li>投稿の「Skype ID」の項目に自分のものではないIDを載せている</li>
          <li>各種法令違反、またはその行為を助長している</li>
          <li>差別、罵倒、中傷誹謗など読む人を不快にしている</li>
          <li>連続投稿など、他ユーザの妨げをしている</li>
          <li>広告やお小遣い稼ぎ、金銭のやり取りを目的としている</li>
          <li>他サイトや他アプリへ誘導している</li>
        </ul>
        <h3>免責事項</h3>
        <p>掲示板の使用で発生したいかなる損害に対して一切の責任を負うものではありません。<br>
          掲示板利用におけるいかなるトラブルにおいても、当サイトに責任は一切ないものとさせていただきます。
          <h3>権利等</h3>
          当サイトに投稿された情報は当サイトのサーバーに保存され公開されます。
          この投稿情報は当サイトが著作権をもつものとし、投稿情報の持ち主は当サイトとなりますので、予めご承知ください。</p>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
